<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=/favicon.ico>
<title>vue_app</title>
<link href=/static/css/about.0238e3ff.css rel=prefetch>
<link href=//static/css/chunk-583f0164.3c2c8baf.css rel=prefetch>
<link href=./static/js/about.40b90f2f.js rel=prefetch>
<link href=static/js/chunk-583f0164.5d6b3e7e.js rel=prefetch>
<link href=static/css/app.7572cf86.css rel=preload as=style>
<link href=static/js/app.af18fd36.js rel=preload as=script>
<link href=static/js/chunk-vendors.078f62c4.js rel=preload as=script>
<link href=static/css/app.7572cf86.css rel=stylesheet>
</head>
<body>
<noscript>
<strong>We're sorry but vue_app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id=app>
</div>
<script src=/static/js/chunk-vendors.078f62c4.js>
</script>
<script src=/static/js/app.af18fd36.js>
</script>
</body>
</html>